.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*.my-bg {
    height: 100vh;
    width: 100vw;
    object-fit:cover;*/
/*    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;*/
/*}*/

.n-bg{
    background-color:darkgray;
    
}
.home-bg {
    background-image: url('./Assets/home.jpg');
    background-size:cover;
    background-position:center;
    background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rbg{
    height:200px;
    width:200px;
    background-color:black;
    opacity:70%;
    border-radius:0.5rem;
}
.create{
    text-decoration:none;
    font-weight:600;
}
.login-dialogue{
    background-color:lightgray;
    width:80%;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
